html{
    min-width: 360px;
    min-height: 100%;
    overflow-x: hidden;
    font-family: 'Barlow Condensed' !important;
}

.space{
    height: 85px;
}

.instructions{
    font-size: 1.7rem;
    margin-left: 25px;
    position: absolute;
    z-index: -1;
}

.instructions h3{
    margin: 5px 0;
}

.instructions ul{
    margin: 10px;
    padding-right: 10px;
}

.conteiner{
    width: intrinsic; /* Safari */
    width: -moz-max-content; /* Firefox / Gecko */
    width: -webkit-max-content; /* Chrome */
    background-color: #bbc6c7;
    display: flex;
    margin: auto;
    padding: 20px;
    border-radius: 7px;
    flex-wrap: nowrap;
}

.gameMenu{
    position: absolute;
    z-index: 40;
    display: block;
    width: 200px;
    height: 500px;
    background-color: transparent;
    border: solid 3px #f98;
    border-radius: 7px;
    margin: auto;
}

.gameMenuFS {
    position: absolute;
    z-index: 40;
    display: block;
    width: 98%;
    height: 99%;
    background-color: transparent;
    border: solid 3px #f98;
    border-radius: 7px;
    margin: auto;
}

.menuTxt {
    display: block;
    margin-top: 80%;
    color: #ebf6f7;
    height: fit-content;
    text-align: center;
}

.optionsTxt {
    display: block;
    color: #ebf6f7;
    text-align: center;
}

.grid{
    width: 200px;
    height: 500px;
    background-color: #000;
    border: solid 3px #444;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}

.cell {
    height: 4%;
    width: 10%;
    box-sizing: border-box;
}

.cell-with-grid {
    border: solid 0.5px #111;
}

.cell-without-grid {
    border: none;
}

.tetrominos{
    border-style: outset !important;
    border-width: 4px !important;
    box-sizing: border-box;
}

#cont2{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: fit-content;
    margin-left: 20px;
}

#cont2 h2{
    color: #128;
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#next{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.mini-grid{
    height: 80px;
    width: 80px;
    margin: auto;
    background-color: #000;
    border: solid 1px #444;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
}

.mini-grid div{
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

.mini-grid-mob {
    height: 80px;
    width: 80px;
    top: 10px;
    right: 35px;
    background-color: transparent;
    border-radius: 7px;
    display: none;
    flex-wrap: wrap;
    position: absolute;
    z-index: 20;
}

.mini-grid-mob div {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

#lines{
    margin-bottom: 10px;
    text-align: center;
}

#start-button{
    display: block;
}

#options-button{
    display: block;
}

#pause-button {
    display: none;
}

#restart-button {
    display: none;
}

.btn {
    margin: auto;
    padding: 0 10px;
    margin-top: 20px;
    border: outset 3px #ebf6f7;
    font-family: 'Barlow Condensed', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 1.3rem;
    transition: 0.5s linear;
    outline: none;
}

.btn:hover{
    background-color: #9aa;
}

.btn:active{
    background-color: #47a;
}

.bot {
    display: none;
}

.mobInstructions {
    display: flex;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-direction: column;
}

#mobInstrTxt {
    color: red;
    display: block;
    margin: 0 auto;
}

#mobInstr {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.mobBtns {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
}
